
body {
  background-color: #336699;
}

.gameArea {
  background-color: #CCFFFF;
  margin-left: auto;
  margin-right:auto;
  display: block;
}

.scoreboard {
  width: 120px;
  border-color:black;
  border-style:inset;
  padding:2px;
  margin-left: auto;
  margin-right:auto;
  margin-bottom:10px;
}

.enemy {
  fill: red;
}

.hero {
  fill: black;
}
